#edit-book-modal{
  padding-bottom: 0.5rem;

  .modal-body-title {
    h3{
      color: $primary-green-dark;
      font-weight: 100;

      strong {
        font-weight: 700;
      }
    }
  }
  
  form {
    display: flex;
    flex-flow: column;

    button {
      background-color: $primary-green-dark;
      border: none;
      box-shadow: 0 3px 6px 1px rgba(black, .2);
      color: white;
      font-family: 'Oswald', sans-serif;
      font-size: 1.5rem;
      margin: 1rem auto;
      padding: 0.25rem 2rem;

      &:hover {
        background-color: $primary-green;
      }
    }
  };
}