#vocab-word-list ul li:hover{
    cursor: pointer;
    color: #9a9a9a
}
#vocab-word-list ul li.active{
    font-weight: 700;
    font-size: 1.1em;
    color: #247BA0;
}
#vocab-word-list ul li.hidden{
    display: none;
}