
aside#vocab-filters{
    width: 15%;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-y : scroll;
}
aside#vocab-filters select{
    /* width : 10%; */
    margin : .5rem 1rem;
}


aside#vocab-filters ul{
    list-style : none;
    width: 75%;
    display: flex;
    flex-flow: column;
    align-content: center;
    padding-left: 0;
    margin : 3rem auto;
}
aside#vocab-filters button{
    color: #999;
    background: #eee;
    width: 100%;
    margin: .2em auto;
    border: none;
    padding: .5em 0;
    border-radius: 5px;
    cursor : pointer;
    word-wrap: none;
}


aside#vocab-filters button.active{
    color: white;
    background:#FF7F11;
    font-weight: 700;
}

@media only screen and (max-width : 700px){
    
    aside#vocab-filters{
        width: 33%;
    }
    aside#vocab-filters ul{
        margin : 0 auto;
    }
}