#vocab-page {
  nav{
    background-color: $primary-yellow;

    a{
      transition: color 0.25s ease-in;

      &:hover{
        color: $primary-red;
      }

      &.router-link-active{
        color: $primary-red-dark;
      }
    }
  }

  main{
    background-color: $primary-yellow-light;
    display: flex;

    #vocab-page-content {
      display: flex;
      flex-flow: column;
      height: 95%;
      margin: auto;
      width: 80%;
    }
  }
}