#books-tile-section article{
    width: 25%;
    margin: 1rem 0;
    border-radius: 2.5px;
    box-shadow: 5px 5px 5px rgba(175,175,175, .5);
    padding: 0 5px 5px 5px;
    color: #332f43;
}

#books-tile-section article.fiction{
    border: 2px solid rgb(53,129,184);
    border-left: 5px solid rgb(53,129,184);
    background: rgba(53,129,184, .1)
}

#books-tile-section article.historical-fiction{
    border: 2px solid rgb(221,114,48);
    border-left: 5px solid rgb(221,114,48);
    background: rgba(221,114,48, .1)
}

#books-tile-section article.biography{
    border: 2px solid rgb(162,0,33);
    border-left: 5px solid rgb(162,0,33);
    background: rgba(162,0,33, .1)
}

#books-tile-section article.memoir{
    border: 2px solid #41ead4;
    border-left: 5px solid #41ead4;
    background: rgba(65,234,212, .1);
}

#books-tile-section article.science-fiction{
    border: 2px solid #7dce82;
    border-left: 5px solid #7dce82;
    background: rgba(125,206,130, .1)
}

#books-tile-section article.fantasy{
    border: 2px solid #e2c044;
    border-left: 5px solid #e2c044;
    background: rgba(226,192,68, .1);
}

#books-tile-section article.thriller{
    border: 2px solid rgb(116,34,108);
    border-left: 5px solid rgb(116,34,108);
    background: rgba(116,34,108, .1)
}
#books-tile-section article.non-fiction,
#books-tile-section article.other{
    border: 2px solid #999;
    border-left: 5px solid #999;
    background: rgba(153,153,153, .1)
}


#books-tile-section article h3{
    margin-top: 3px;
}

#books-tile-section article section{
    display: flex;
    justify-content: space-between;
}

#books-tile-section button{
    background: none;
    border: none;
    text-transform: capitalize;
    color:#3581b8;
    font-weight: bold;
    font-size: .9rem;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
}

@media all and (max-width : 800px){
    #books-tile-section article{
        width : 75%;
    }
}