nav{
    display: flex;
    justify-content: space-between;
    color: #ECFFF8;
    background: #247BA0;
    position : sticky;
    top : 0;
}
nav h3{ 
    font-family: 'Bebas Neue', cursive;
    margin-left : 2rem;
} 
nav ul{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 2rem;
}

nav ul li, nav h3{
    cursor: pointer;
}

@media all and (max-width : 800px){
    nav ul{
        width: 50%
    }
}