#vocab-page {
	display: flex;
    flex-flow: column;
    overflow-y: hidden;
}

section#main-vocab-section{
    display: flex;
    overflow-y: hidden;
    height: 80vh;
}

section#main-vocab-section.active-word{
    height: 60vh;
}
#main-vocab-section section{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
section#vocab-description{
    height: 0;
}

section#vocab-description.active-word{
    height: 15vh;
}



#vocab-page ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#vocab-page #vocab-word-list ul{
    align-content: flex-start;
    font-weight : 300;
}

#vocab-page #vocab-word-list ul li{
    width: 25%;
}
#vocab-page #vocab.charts-shown ul li{
    width: 33%;
}
section#vocab-groupings article.active ul{
    display: flex;
    flex-wrap: wrap;
}

#vocab-groups button.active{
    color: #FFF5EB;
    background:#FFAD5C;
    font-weight: 700;
}
#vocab-page section.charts-shown{
    width: 42%; 
    display : flex;
}
#vocab-page section#charts.charts-hidden{
    display : none; 
}
#vocab-page section#vocab-word-list.charts-hidden{
    width : 84%; 
}

@media only screen and (max-width : 700px){
    
    #vocab-page section.charts-shown{
        width: 33%; 
    }
    #vocab-page #vocab-word-list ul{
        padding-left : 0;
    }
    #vocab-page #vocab-word-list ul li{
        width: 100%;
    }
}