<!DOCTYPE html>
<html>
    <article>
        <div class="book-inner-border">
            <h3 class="book-title"></h3>
            <section>
                <span class="book-author"></span>
                <span class="book-pages"></span>
            </section>
            <section>
                <span class="book-days-reading"></span>
                <span class="book-club-status"></span>
            </section>
            <section>
                <span class="book-vocab-count"></span>
            </section>
        </div>
    </article>
</html>