#books-page {
  nav{
    background-color: $primary-green;

    a{
      transition: color 0.25s ease-in;

      &:hover{
        color: $primary-yellow-light;
      }

      &.router-link-active{
        color: $primary-yellow
      }
    }
  }

  main{
    background-color: $primary-green-light;
  }
}