#books-page {
  nav{
    background-color: $primary-green;

    a{
      transition: color 0.25s ease-in;

      &:hover{
        color: $primary-yellow-light;
      }

      &.router-link-active{
        color: $primary-yellow
      }
    }
  }

  #modal header{
    background-color: $primary-green-light;
    color: $primary-green;
    font-size: 1.25rem;
  }

  main{
    background-color: $primary-green-light;

    #books-banner{
      align-items: center;
      display: flex;

      #open-book-modal {
        background-color: $primary-green-dark;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-family: 'Oswald';
        margin: 0.5rem 2rem;
        padding: 1rem 1.5rem;
  
        &:hover {
          background-color: lighten($primary-green-dark, 5);
          box-shadow: 1px 4px 8px 0 rgba(black, 0.25);
        }
      }

      @media screen and (max-width: 750px) {
        flex-flow: column;

        #open-book-modal {
          order: 1;
        }
        
      }
    }
  }
}