#vocab-page {
  nav{
    background-color: $primary-yellow;

    a{
      transition: color 0.25s ease-in;

      &:hover{
        color: $primary-red;
      }

      &.router-link-active{
        color: $primary-red-dark;
      }
    }
  }

  #modal-bg{
    &:not(.error-modal){
      #modal header {
        background-color: $primary-yellow-light;
        color: $primary-yellow-dark;
      }
    }

    &.error-modal{
      #modal header{
        background-color: $primary-red-light;
        color: $primary-red;
      }
    }

    #modal header{
      font-size: 1.25rem;
    }

  }

  main{
    background-color: $primary-yellow-light;
    display: flex;

    #vocab-page-content {
      display: flex;
      flex-flow: column;
      height: 95%;
      margin: auto;
      width: 80%;

      @media screen and (max-width: 750px) {
        width: 95%;

        section {
          margin: 1.5rem 0;
        }
      }
    }

    #show-mobile-filters{
      align-self: end;
      background-color: $primary-yellow-light;
      border: none;
      color: $primary-red-dark;
      cursor: pointer;
      display: none;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 1.5rem;
      margin: 0 1rem 0 0;
      max-width: 33%;
      padding: 0.5rem;

      &:hover {
        color: $primary-red;
      }
  
      @media screen and (max-width: 750px) {
        display: block;
      }
    }

    @media screen and (max-width: 750px) {
      flex-flow: column;
      
    }
  }
}