#charts div{
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 1% 0;
    border: thin solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

#charts svg{
    width : 95%;
    height : 95%;
}

#charts .nv-background rect{
    fill: white;
}

.nvd3.nv-stackedarea path.nv-area {
    fill-opacity: .7;
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
}

.nvd3.nv-stackedarea path.nv-area.hover {
    fill-opacity: .9;
}


.nvd3.nv-stackedarea .nv-groups .nv-point {
    stroke-opacity: 0;
    fill-opacity: 0;
}