$primary-green-light:#caf4f0;
$primary-green:#009e8d;
$primary-green-dark: #00665c;

$primary-yellow-light: #ffe7a4;
$primary-yellow: #fcba15;
$primary-yellow-dark: #DD9F03;

$primary-red-light: #ffa4c4;
$primary-red: #ff005a;
$primary-red-dark: #920034;