#active-word-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: .75rem;
    border-top: 2.5px solid #7b0d1e;
    overflow-y: auto;
}
#active-word-container.hidden{
    display: none;
}
#active-word-container article{
    width: 45%;
    height : 100;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(202, 133, 151, .2);
}
#active-word-container p{
    margin : 1rem;
}
#active-word-container header{
    display: block;
    margin: 1rem 0;
}
#active-word-container header > *{
    display: inline;
    margin : 0 .5rem;
}

#active-word-container h2{
    color: #555;
}
#active-word-container h4{
    color: #999;
}

#active-word-container article#book-context{
    text-align: right;
    padding-right: 1rem;
}

#book-context.fiction{
    border-right: 5px solid rgb(53,129,184);
} 
#book-context.fiction .strong{
    color: rgb(53,129,184);
} 

#book-context.historical-fiction{
    border-right: 5px solid rgb(221,114,48);
} 

#book-context.historical-fiction strong{
    color: rgb(221,114,48);
} 
#book-context.biography{
    border-right: 5px solid rgb(162,0,33);
} 
#book-context.biography strong{
    color: rgb(162,0,33);
} 

#book-context.memoir{
    border-right: 5px solid #41ead4;
} 
#book-context.memoir strong{
    color: #41ead4;
} 

#book-context.science-fiction{
    border-right: 5px solid #7dce82;
}
#book-context.science-fiction strong{
    color: #7dce82;
}

#book-context.fantasy{
    border-right: 5px solid #e2c044;
}
#book-context.fantasy strong{
    color: #e2c044;
}

#book-context.thriller{
    border-right: 5px solid #74226C;
}
#book-context.thriller strong{
    color: #74226C;
}
#book-context.non-fiction,
#book-context.other{
    border-right: 5px solid #999;
}
#book-context.non-fiction strong,
#book-context.other strong{
    color: #999;
}